<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89DED49E1FBD5FFE00F87CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DED4B71FBD5FFE00F87CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DED4C21FBD5FFF00F87CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
